<ion-header>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchReels($event)" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let reel of filteredReels">
        <div class="reel-container" (click)="togglePlay($event)">
          <video [src]="reel.video" muted autoplay loop playsinline></video>
          <ion-icon name="play-circle-outline" class="play-icon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
